html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff;
    overflow: hidden
}

body {
    display: grid;
    place-content: center;
    text-align: center;
    font-family: DIN;
    overflow: hidden;
}



@font-face {
    font-family: 'DIN';
    src: url(Fonts/DIN-Regular.woff2) format("woff2"),
         url(Fonts/DIN-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}


.warning {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Initial grid setup with 12 columns */
    grid-template-rows: repeat(7, 1fr);    /* Initial grid setup with 7 rows */
    align-items: stretch;
    justify-items: stretch;
    background: #000000;
    width: 100vw;
    height: 100vh;
    gap: 2px;
    
    animation: animate-columns 15s ease-in-out infinite;
    animation-delay: 4.5s;

    
    will-change: grid-template-columns, grid-template-rows; /* Hint for optimization */
}


.grid > * {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    overflow: hidden;
   
}

.cell {
    transition: transform 0.6s, background-color 0.6s;
    cursor: pointer;
}

.cell:hover {
    filter: brightness(0.95);
}

.cell.flipped {
    color: transparent; /* Hide text */
    transform: rotateY(180deg);
}

.cell.flipped-x {
    transform: rotateX(180deg); /* Flip around the X-axis */
}


.grid > :nth-child(1) { }
.grid > :nth-child(2) { }
.grid > :nth-child(3) { }
.grid > :nth-child(4) { }
.grid > :nth-child(5) { }
.grid > :nth-child(6) { }
.grid > :nth-child(7) { }
.grid > :nth-child(8) { }
.grid > :nth-child(9) { }
.grid > :nth-child(10) { }
.grid > :nth-child(11) { }
.grid > :nth-child(12) { }
.grid > :nth-child(13) { }
.grid > :nth-child(14) {grid-row: span 4;}
.rotated-text {transform: rotate(-90deg);}
.grid > :nth-child(15) { }
.grid > :nth-child(16) { }
.grid > :nth-child(17) { }
.grid > :nth-child(18) {grid-row: span 2}
.rotated-text2 {transform: rotate(90deg);}
.grid > :nth-child(19) { grid-column: span 3;}
.grid > :nth-child(20) { grid-row: span 4}
.grid > :nth-child(21) { grid-row: span 3}
.grid > :nth-child(22) { }
.grid > :nth-child(23) { }
.grid > :nth-child(24) { }
.grid > :nth-child(25) { }
.grid > :nth-child(26) { }
.grid > :nth-child(27) { }
.grid > :nth-child(28) { }
.grid > :nth-child(29) { }
.grid > :nth-child(30) { }
.grid > :nth-child(31) { }
.grid > :nth-child(32) {grid-column: span 4;}
.grid > :nth-child(33) { }
.grid > :nth-child(34) { }
.grid > :nth-child(35) { }
.grid > :nth-child(36) { }
.grid > :nth-child(37) { }
.grid > :nth-child(38) { }
.grid > :nth-child(39) { }
.grid > :nth-child(40) { }
.grid > :nth-child(41) { }
.grid > :nth-child(42) { }
.grid > :nth-child(43) { }
.grid > :nth-child(44) { }
.grid > :nth-child(45) { }
.grid > :nth-child(46) { }
.grid > :nth-child(47) { }
.grid > :nth-child(48) {grid-column: span 3;}
.grid > :nth-child(49) { }
.grid > :nth-child(50) {}
.grid > :nth-child(51) { }
.grid > :nth-child(52) {grid-column: span 4;}
.grid > :nth-child(53) { }
.grid > :nth-child(54) { }
.grid > :nth-child(55) { }
.grid > :nth-child(56) {}
.grid > :nth-child(57) { }
.grid > :nth-child(58) { }
.grid > :nth-child(59) { }
.grid > :nth-child(60) { }
.grid > :nth-child(64) { }
.grid > :nth-child(65) { }

#intro-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 100;
    animation: fadeOut 2.5s ease-out forwards;
}

/* Fade out animation */
@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}

@keyframes animate-columns {
    0% {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    12.5% {
        grid-template-columns: 1fr 6fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 3fr 1fr 1fr;
    }
    25% {
        grid-template-columns: 1fr 6fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 3fr 1fr 1fr;
    }
    37.5% {
        grid-template-columns: 1fr 1fr 1fr 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 4fr;
        grid-template-rows: 1fr 1fr 1fr 4fr 1fr 3fr 1fr;
    }
    50% {
        grid-template-columns: 1fr 1fr 1fr 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 4fr;
        grid-template-rows: 1fr 1fr 1fr 4fr 1fr 3fr 1fr;
    }
    62.5% {
        grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr 1fr;
        grid-template-rows: 1fr 3fr 1fr 1fr 1fr 5fr 1fr;
    }
    75% {
        grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr 1fr;
        grid-template-rows: 1fr 3fr 1fr 1fr 1fr 5fr 1fr;
    }
    87.5% {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    100% {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}


@media screen and (max-width: 600px) {  /* iPhone screens */
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Reduce columns */
        grid-template-rows: repeat(8, 1fr); /* Exactly 8 rows */
        height:100vh; /* Adapt to content */
        gap: 1px; /* Adjust spacing */

        animation: animate-columns-mobile 15s ease-in-out infinite;
        animation-delay: 4.5s;

        will-change: grid-template-columns, grid-template-rows;
    }

    .grid > * {
        font-size: 14px; /* Adjust text size */
    }

    
    /* Adjust specific elements */

    .grid > :nth-child(14) { grid-column: 2/ span 3; grid-row: 2;} 
    .grid > :nth-child(18) {grid-column: 2; grid-row: 3; } 
    .grid > :nth-child(19) { grid-column: 4; grid-row: 6 / span 2; }
    .grid > :nth-child(20) { grid-column: 1 /span 3; grid-row: 6; }
    .grid > :nth-child(21) {grid-column: 2 / span 2; grid-row: 7; } 
    .grid > :nth-child(32) { grid-column: 3; grid-row: 3/ span 3; }
    .grid > :nth-child(48) { grid-column: 1; grid-row: 4 / span 2; }
    .grid > :nth-child(52) { grid-column: 1; grid-row: 2/span 2; }

    @keyframes animate-columns-mobile {
        0%{
            grid-template-columns: 1fr 1fr 1fr 1fr ;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
        12.5% {
            grid-template-columns: 2fr 1fr 1fr 1fr ;
            grid-template-rows: 1fr 5fr 3fr 1fr 3fr 1fr 1fr 1fr;
        }
        25% {
            grid-template-columns: 2fr 1fr 1fr 1fr ;
            grid-template-rows: 1fr 5fr 3fr 1fr 3fr 1fr 1fr 1fr;
        }
        37.5% {
            grid-template-columns: 1fr 3fr 0.5fr 1fr;
            grid-template-rows: 0.5fr 5fr 2fr 2fr 2fr 2fr 1fr 1fr;
        }
        50% {
            grid-template-columns: 1fr 3fr 0.5fr 1fr;
            grid-template-rows: 0.5fr 5fr 2fr 2fr 2fr 2fr 1fr 1fr;
        }
        62.5% {
            grid-template-columns: 1fr 1fr 3fr 1fr;
            grid-template-rows: 1fr 1fr 2fr 1fr 2fr 2fr 1fr 1fr;
        }
        75% {
            grid-template-columns: 1fr 1fr 3fr 1fr;
            grid-template-rows: 1fr 1fr 2fr 1fr 2fr 2fr 1fr 1fr;
        }
        87.5% {
            grid-template-columns: 1fr 1fr 1fr 1fr ;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
        100% {
            grid-template-columns: 1fr 1fr 1fr 1fr ;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    } 
}

